= form_for song do |f|
  .row.clearfix
    .col-sm-3
      = f.label :name
      = f.text_field :name, class: 'form-control'
    .col-sm-3
      = f.label :author
      = f.text_field :author, class: 'form-control'
    .col-sm-3
      = f.label :singer
      = f.text_field :singer, class: 'form-control'
    .col-sm-2
      = f.label :file_name
      = f.text_field :file_name, class: 'form-control'
    .col-sm-1
      %br
      - if song.persisted?
        = button_tag type: 'submit', class: 'green' do
          %i.glyphicon.glyphicon-ok
        = link_to song do
          %i.glyphicon.glyphicon-eye-open
        = link_to upload_song_path(song), method: :post, class: song.beat_link.present? ? 'green' : '' do
          %i.glyphicon.glyphicon-arrow-up
      - else
        = button_tag type: 'submit', class: 'red' do
          %i.glyphicon.glyphicon-plus
