%nav.navbar.navbar-default.padding-10
  %span.app-name= @song.name
  = link_to 'Original song', '#', class: 'btn btn-default pull-right toggle-audio'
  = link_to 'Generate Waveform Image', generate_waveform_song_path(@song), method: :post, class: 'btn btn-default pull-right'
  = link_to 'Edit song', '#', class: 'btn btn-default edit-lyric-link pull-right'
  = link_to 'Update Lyric', '#', class: 'btn btn-primary update-lyric pull-right'
.row.clearfix.text-center
  .lyric-show
    .scrollable
      - @lines.each_with_index do |line, index|
        %p
          - line.words.each do |word|
            %span{ data: { time: word.processed_at, duration: word.duration, pos: index } }= word.content
= audio_tag @song.file_name, preload: "auto", controls: true, class: 'beat-container'
= audio_tag @song.singer_wav, preload: "auto", controls: true, class: 'song-container'

.row.clearfix
  .viewport
    .col-sm-7.relative.no-padding.height-50k
      .beat-container.full-width
        = image_tag @song.waveform_file, class: 'full-width height-50k'
      .song-container.full-width
        = image_tag @song.wave_form_singer, class: 'full-width height-50k'
      .cursor
    .col-sm-5.relative.height-50k
      - @lines.each do |line|
        - line.words.each do |word|
          = form_for word, remote: true do |wf|
            %p.word-form
              %span.word-content= word.content
              %span= wf.number_field :processed_at, class: 'small-field'
              %span= wf.number_field :duration, class: 'tiny-field'
              %span= wf.number_field :note, class: 'tiny-field'

.edit-lyric
  = form_for @song do |f|
    .row.clearfix
      .col-sm-11
        = f.label :lyric
        = f.text_area :lyric, class: 'form-control'
    .row.clearfix
      .col-sm-12
        = f.label :singer_wav
        = f.text_field :singer_wav, class: 'form-control'
    .row.clearfix
      .col-sm-12
        = f.submit 'Update', class: 'btn btn-primary bottom'

= javascript_include_tag :song_details
